.col-80 {
    width: 80%;
  }
  
  .col-20 {
    width: 20%;
  }
  
  .col-100 {
    width: 100%;
  }
  
  .flex-wrap {
    display: flex;
  }


  .date {
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
  } 

  .example-card {
    background-color: #333139;
  }