.example-card {
    // width: 100%;
    // height: 400px;
    background-color: #222029;
  }

.clock {
  text-align: center;
  font-size: 80px;
  padding-top: 110px;
  padding-bottom: 110px;
  color: white;
}  

.top-spacer {
  height: 150px;
}


.col-80 {
  width: 80%;
}

.col-20 {
  width: 20%;
}

.col-100 {
  width: 100%;
}

.flex-wrap {
  display: flex;
}