.example-card {
    // width: 100%;
    // height: 400px;
    background-color: #222029;
  }

.clock {
  text-align: center;
  font-size: 80px;
  padding-top: 130px;
  padding-bottom: 130px;
  color: white;
}  

.top-spacer {
  height: 150px;
}


.col-80 {
  width: 80%;
}

.col-20 {
  width: 20%;
}

.col-100 {
  width: 100%;
}

.flex-wrap {
  display: flex;
}

@media only screen and (max-width: 1110px) {
  .clock {
    text-align: center;
    font-size: 50px;
    padding-top: 110px;
    padding-bottom: 110px;
    color: white;
  }
}


@media only screen and (max-width: 735px) {
  .clock {
    text-align: center;
    font-size: 40px;
    padding-top: 110px;
    padding-bottom: 110px;
    color: white;
  }
}

@media only screen and (max-width: 600px) {
  .clock {
    text-align: center;
    font-size: 70px;
    padding-top: 110px;
    padding-bottom: 110px;
    color: white;
  }

  .top-spacer {
    height: 50px;
  }
}

@media only screen and (max-width: 495px) {
  .clock {
    text-align: center;
    font-size: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
  }
}

@media only screen and (max-width: 495px) {
  .clock {
    text-align: center;
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
  }
}