<aside class="weather-card">
    <div class="weather-main">
        <svg class="weather-icon" viewBox="0 0 24 24" aria-hidden="true" [ngSwitch]="dataService.weatherIconKey">
            <ng-container *ngSwitchCase="'sun'">
                <circle cx="12" cy="12" r="4"></circle>
                <path d="M12 2v2"></path>
                <path d="M12 20v2"></path>
                <path d="m4.93 4.93 1.41 1.41"></path>
                <path d="m17.66 17.66 1.41 1.41"></path>
                <path d="M2 12h2"></path>
                <path d="M20 12h2"></path>
                <path d="m6.34 17.66-1.41 1.41"></path>
                <path d="m19.07 4.93-1.41 1.41"></path>
            </ng-container>

            <ng-container *ngSwitchCase="'moon'">
                <path d="M20.985 12.486a9 9 0 1 1-9.473-9.472c.405-.022.617.46.402.803a6 6 0 0 0 8.268 8.268c.344-.215.825-.004.803.401"></path>
            </ng-container>

            <ng-container *ngSwitchCase="'cloud'">
                <path d="M17.5 19H9a7 7 0 1 1 6.71-9h1.79a4.5 4.5 0 1 1 0 9Z"></path>
            </ng-container>

            <ng-container *ngSwitchCase="'rain'">
                <path d="M4 14.899A7 7 0 1 1 15.71 8h1.79a4.5 4.5 0 0 1 2.5 8.242"></path>
                <path d="M16 14v6"></path>
                <path d="M8 14v6"></path>
                <path d="M12 16v6"></path>
            </ng-container>

            <ng-container *ngSwitchCase="'showers'">
                <path d="M4 14.899A7 7 0 1 1 15.71 8h1.79a4.5 4.5 0 0 1 2.5 8.242"></path>
                <path d="M8 19v1"></path>
                <path d="M8 14v1"></path>
                <path d="M16 19v1"></path>
                <path d="M16 14v1"></path>
                <path d="M12 21v1"></path>
                <path d="M12 16v1"></path>
            </ng-container>

            <ng-container *ngSwitchCase="'storm'">
                <path d="M6 16.326A7 7 0 1 1 15.71 8h1.79a4.5 4.5 0 0 1 .5 8.973"></path>
                <path d="m13 12-3 5h4l-3 5"></path>
            </ng-container>

            <ng-container *ngSwitchCase="'snow'">
                <path d="m10 20-1.25-2.5L6 18"></path>
                <path d="M10 4 8.75 6.5 6 6"></path>
                <path d="m14 20 1.25-2.5L18 18"></path>
                <path d="m14 4 1.25 2.5L18 6"></path>
                <path d="m17 21-3-6h-4"></path>
                <path d="m17 3-3 6 1.5 3"></path>
                <path d="M2 12h6.5L10 9"></path>
                <path d="m20 10-1.5 2 1.5 2"></path>
                <path d="M22 12h-6.5L14 15"></path>
                <path d="m4 10 1.5 2L4 14"></path>
                <path d="m7 21 3-6-1.5-3"></path>
                <path d="m7 3 3 6h4"></path>
            </ng-container>

            <ng-container *ngSwitchCase="'smog'">
                <path d="M4 14.899A7 7 0 1 1 15.71 8h1.79a4.5 4.5 0 0 1 2.5 8.242"></path>
                <path d="M16 17H7"></path>
                <path d="M17 21H9"></path>
            </ng-container>

            <ng-container *ngSwitchDefault>
                <path d="M12 2v2"></path>
                <path d="m4.93 4.93 1.41 1.41"></path>
                <path d="M20 12h2"></path>
                <path d="m19.07 4.93-1.41 1.41"></path>
                <path d="M15.947 12.65a4 4 0 0 0-5.925-4.128"></path>
                <path d="M13 22H7a5 5 0 1 1 4.9-6H13a3 3 0 0 1 0 6Z"></path>
            </ng-container>
        </svg>

        <div class="temp-line">
            <span class="main-temp">{{ dataService.weatherData?.temp_celcius || '--' }}°</span>
            <span class="desc">{{ dataService.weatherDesc || 'Loading' }}</span>
        </div>
    </div>

    <div class="weather-meta">
        <span>Feels {{ dataService.weatherData?.temp_feels_like || '--' }}°</span>
        <span>High {{ dataService.weatherData?.temp_max || '--' }}°</span>
        <span>Low {{ dataService.weatherData?.temp_min || '--' }}°</span>
    </div>

    <div class="name">{{ dataService.weatherData?.name || dataService.cityValue }}</div>
</aside>
