.col-80 {
    width: 80%;
  }
  
  .col-20 {
    width: 20%;
  }
  
  .col-100 {
    width: 100%;
  }
  
  .flex-wrap {
    display: flex;
  }

  .top-spacer {
    height: 150px;
  }

  
  .weather {
    text-align: center;
    font-size: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
  }  

  .example-card {
    background-color: #222029;
  }

  .main-temp span {
    font-size: 70px;
  }

  .padding-bottom-10 {
    padding-bottom: 10px;
  }


  .sec-temp span {
    font-size: 20px;
  }

  .padding-top-10 {
    padding-top: 10px;
  }

  .padding-bottom-50 {
    padding-bottom: 50px;
  } 
  
  .padding-bottom-20 {
    padding-bottom: 20px;
  }

  .padding-bottom-40 {
    padding-bottom: 40px;
  }

  .desc {
    font-size: 17px;
  }

  .name {
    font-size: 25px;
  }

  .highlow{
    font-size: 16px;
  }

  @media only screen and (max-width: 1110px) {

    .top-spacer {
      height: 90px;
    }

    .col-80 {
      width: 90%;
    }
    
    .col-20 {
      width: 5%;
    }
    
  }

  @media only screen and (max-width: 860px) {

  
    .col-80 {
      width: 90%;
    }
    
    .col-20 {
      width: 5%;
    }
  
  }
  
  @media only screen and (max-width: 745px) {

    .col-80 {
      width: 90%;
    }
    
    .col-20 {
      width: 5%;
    }
  
  
  }

  @media only screen and (max-width: 735px) {

    .top-spacer {
      height: 50px;
    }

    
  .col-80 {
    width: 90%;
  }
  
  .col-20 {
    width: 5%;
  }

    
  }

  @media only screen and (max-width: 600px) {

    .top-spacer {
      height: 50px;
    }

    
  .main-temp span {
    font-size: 50px;
  }

  .sec-temp span {
    font-size: 15px;
  }
  
  .col-80 {
    width: 80%;
  }
  
  .col-20 {
    width: 20%;
  }
  }