<div class="top-spacer"></div>
<div class="col-100 flex-wrap">
    <div class="col-20"></div>
    <div class="col-80">
        <mat-card class="example-card">
            <div class="weather">
                <div class="padding-bottom-40">
                    <fa-icon *ngIf="this.dataService.iconDay" [icon]="faSun" size="3x"></fa-icon>
                    <fa-icon *ngIf="!this.dataService.iconDay" [icon]="faMoon" size="3x" ></fa-icon>
                </div>
                <div class="main-temp padding-bottom-20">
                    <span>
                        {{this.dataService.weatherData.temp_celcius}}°
                    </span>
                </div>
                <div class="sec-temp padding-bottom-10">
                    <span>
                        {{this.dataService.weatherData.temp_min}}° / {{this.dataService.weatherData.temp_max}}°
                    </span>
                </div>
                <div class="sec-temp padding-bottom-10">
                    <span>
                        Feels Like: {{this.dataService.weatherData.temp_feels_like}}°
                    </span>
                </div>
            </div>
        </mat-card>
    </div>
    <div class="col-20"></div>
</div>