/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Avenir Next", "SF Pro Display", "Segoe UI", sans-serif;
  background: #03080d;
}

* {
  box-sizing: border-box;
}
